@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "react-pathly/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "react-pathly/bootswatch";

@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: $gray-dark;
}

.rp-page {
    margin-top: 65px;
}

footer img {
    margin: 0 5px;
}
footer hr {
    border-top: 1px solid $gray-lighter;
}
footer p {
    color: $gray-light;
}
footer p a,
footer p a:hover,
footer p a:focus,
footer p a:active {
    color: $gray;
}
footer p a.sn {
    color: $gray-light;
} 
footer p a:hover,
footer p a:focus,
footer p a:active {
    color: $gray-dark;
    text-decoration:none;
}

.navbar-fixed-top .nav-home {
    line-height: 60px;
    height: 60px;
    font-size: 24px;
}
.nav-home.logo img {
    margin: 10px;
}
ul.navbar-nav li a.active {
    color:$brand-success;
}
