$awfDarkBrown: #996633;
$awfDarkOrange: #ff9900;
$awfLightOrange: #fdbd50;
$awfDarkGreen: #669900;
$awfLightGreen: #99cc66;
$awfVeryLightGreen: #dbf3c3;
$awfText: #333333;

.logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

.awf-header {
    color: $awfDarkBrown;
    padding: 0 1em;
}
.jumbotron p {
	color: $awfText;
}
.awf-content {
    color: $awfText;
    padding: 0 1em;
}

.awf-footer {
    color: $awfDarkGreen;
    padding: 0 1em;
}

.navbar-inverse {
	background-image: none;
	background-color: $awfDarkGreen;
	border-color: $awfLightGreen;
}
.navbar-inverse .navbar-nav>li>a {
	color: $awfVeryLightGreen;
}
